.content-card {
  border: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 8px;
  margin-top: 15px;
  background-color: #AAAE8E;
}

.choose-content-area {
  background-color: #FFF;
  border-radius: 4px;
  padding: 5px;
}

.review-card {
  border: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 8px;
  padding-bottom: 15px;
  margin-top: 15px;
  background-color: #DDD;
}



@font-face {
    font-family: Peterbuilt;
    src: url(../fonts/Peterbuilt.ttf);
}

.primary-accent {
  background-color: #3A606E;
}

.primary-background {
  color: #E0E0E0;
}

.secondary-accent {
  background-color: #AAAE8E
}

.light-text {
  color: #E0E0E0;
}

.dark-text {
  color: #3A606E;
}

.p {
  color: #3A606E;
}

nav>.open>a {
  color: #3A606E;
}
